@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  }
}

@layer utilities {
  .text-primary-hierarchy {
    @apply text-white;
    opacity: 1;
  }

  .text-medium-hierarchy {
    @apply text-white;
    opacity: 0.5;
  }

  .font-title {
    font-weight: 500;
  }

  .font-body {
    font-weight: 400;
  }

  .border-system {
    border-width: 2.5px;
    @apply border-white/10;
  }
}
